<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form method="GET" action="/result1">
      <input type="text" name="station_name">
      <input type="submit" value="送信する">
    </form>
  </body>
</html>
