<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <!-- <%= "#{params[:station_name]}さん、こんにちは！" %> -->
    <%= @stations[0].name %>
  </body>
</html>
